PROXY_SOCKS="socks5h://localhost:1080"
JWT_SECRET="[replace me with random secret]"
PROXY_SECRET="[replace me with random secret]"
HOST_DATA_PATH="/path/to/data/on/host"
DATA_PATH="/path/to/data/on/host" (same as HOST_DATA_PATH)
SQLALCHEMY_DATABASE_PATH="/path/to/database.db/on/host"

KEYCLOAK_ISSUER="http://localhost:8080/"