services:
  miniverse-api:
    image: serjs/go-socks5-proxy
    container_name: miniverse-api-proxy
    ports:
      - "127.0.0.1:1080:1080"
    environment:
      REQUIRE_AUTH: "false"
    networks:
      - miniverse-net
      - backend-net
    depends_on:
      - mysql
      - redis
      - keycloak
    restart: unless-stopped
    stop_grace_period: 2m

  redis:
    image: redis:8-alpine
    container_name: miniverse-redis
    command: [ "redis-server", "--loglevel", "warning" ]
    ports:
      - "127.0.0.1:6379:6379" # Removed in prod
    volumes:
      - redis-data:/data
    networks:
      - backend-net
    restart: unless-stopped

  mysql:
    container_name: mysql
    build: mysql/
    ports:
      - "127.0.0.1:3306:3306" # Removed in prod
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MINIVERSE_DB_PASS: ${MINIVERSE_DB_PASS}
      KEYCLOAK_DB_PASS: ${KEYCLOAK_DB_PASS}
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - backend-net
    restart: unless-stopped

  keycloak:
    container_name: keycloak
    build: keycloak/
    ports:
      - "127.0.0.1:8080:8080" # Removed in prod
    command:
      start
      --optimized
      --import-realm
    environment:
      #      KC_HOSTNAME: ${DOMAIN_NAME}
      KC_DB_PASSWORD: ${KEYCLOAK_DB_PASS}
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KC_BOOTSTRAP_ADMIN_USERNAME}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KC_BOOTSTRAP_ADMIN_PASSWORD}
    networks:
      - backend-net
    depends_on:
      - mysql
    restart: unless-stopped

  nginx:
    container_name: nginx
    build:
      context: nginx/
      args:
        - BRANCH=${GIT_BRANCH:-main}
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}
    volumes:
      - ${HOST_DATA_PATH}/certs/:/etc/nginx/ssl/
      - ${HOST_DATA_PATH}/miniverses/:/data/miniverses/
    ports:
      - "8443:443"
    networks:
      backend-net:
      # default: # Add this if "host-gateway" is not defined on linux
    extra_hosts:
      - "miniverse-api:host-gateway" # redirect nginx trafic to host litestar
    depends_on:
      - miniverse-api
      - keycloak
      - tusd
    develop:
      watch:
        - action: sync+restart
          path: nginx/conf/
          target: /etc/nginx/
    restart: unless-stopped

  tusd:
    container_name: tusd
    image: tusproject/tusd:latest
    command:
      - "-base-path=/api/files/tus"
      - "-behind-proxy"
      - "-disable-download"
      - "-upload-dir=./data"
      - "-hooks-http=http://miniverse-api:8000/api/files/tus-hooks"
      - "-hooks-enabled-events=pre-create,post-finish"
      - "-hooks-http-forward-headers=Cookie,X-CSRFToken"
      - "-verbose"
    volumes:
      - ${HOST_DATA_PATH}/uploads/:/srv/tusd-data/data
    networks:
      backend-net:
    extra_hosts:
      - "miniverse-api:host-gateway"
    restart: unless-stopped

networks:
  miniverse-net:
    name: miniverse-net
  backend-net:

volumes:
  redis-data:
  mysql-data:
