services:
  miniverse-api:
    build: .
    image: ghcr.io/louis-pagnier/miniverse-api:latest
    container_name: miniverse-api
    volumes:
      - ${HOST_DATA_PATH}:/app/data
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      PYTHONUNBUFFERED: 1
      ENV: production
      SQLALCHEMY_DATABASE_PASSWORD: ${MINIVERSE_DB_PASS}
      PROXY_SECRET: ${PROXY_SECRET}
      HOST_DATA_PATH: ${HOST_DATA_PATH}
      DOMAIN_NAME: ${DOMAIN_NAME}
    networks:
      - miniverse-net
      - backend-net
    depends_on:
      - mysql
      - redis
      - keycloak
    restart: unless-stopped
    stop_grace_period: 2m
    develop:
      watch:
        - action: sync+restart
          path: ./app
          target: /app/app
        - action: rebuild
          path: poetry.lock

  redis:
    image: redis:8-alpine
    container_name: miniverse-redis
    command: [ "redis-server", "--loglevel", "warning" ]
    volumes:
      - redis-data:/data
    networks:
      - backend-net
    restart: unless-stopped

  mysql:
    container_name: mysql
    build: mysql/
    image: ghcr.io/louis-pagnier/mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MINIVERSE_DB_PASS: ${MINIVERSE_DB_PASS}
      KEYCLOAK_DB_PASS: ${KEYCLOAK_DB_PASS}
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - backend-net
    restart: unless-stopped

  keycloak:
    container_name: keycloak
    build: keycloak/
    image: ghcr.io/louis-pagnier/keycloak:latest
    command:
      start
      --optimized
      --import-realm
    environment:
      KC_HOSTNAME: ${KC_HOSTNAME}
      KC_DB_PASSWORD: ${KEYCLOAK_DB_PASS}
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KC_BOOTSTRAP_ADMIN_USERNAME}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KC_BOOTSTRAP_ADMIN_PASSWORD}
    networks:
      - backend-net
    depends_on:
      - mysql
    restart: unless-stopped

  nginx:
    container_name: nginx
    build:
      context: nginx/
      args:
        - BRANCH=${GIT_BRANCH:-main}
    image: ghcr.io/louis-pagnier/nginx:latest
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}
    volumes:
      - ${HOST_DATA_PATH}/certs/:/etc/nginx/ssl/
      - ${HOST_DATA_PATH}/miniverses/:/data/miniverses/
    ports:
      - "${NGINX_HOST_PORT:-443}:443"
    networks:
      backend-net:
    depends_on:
      - miniverse-api
      - keycloak
      - tusd
    develop:
      watch:
        - action: sync+restart
          path: nginx/conf/
          target: /etc/nginx/
    restart: unless-stopped

  tusd:
    container_name: tusd
    image: tusproject/tusd:latest
    command:
      - "-base-path=/api/files/tus"
      - "-behind-proxy"
      - "-disable-download"
      - "-upload-dir=./data"
      - "-hooks-http=http://miniverse-api:8000/api/files/tus-hooks"
      - "-hooks-enabled-events=pre-create,post-finish"
      - "-hooks-http-forward-headers=Cookie,X-CSRFToken"
    volumes:
      - ${HOST_DATA_PATH}/uploads/:/srv/tusd-data/data
    networks:
      backend-net:
    restart: unless-stopped

networks:
  miniverse-net:
    name: miniverse-net
  backend-net:

volumes:
  redis-data:
  mysql-data:
