services:
  miniverse-api:
    build: .
    container_name: miniverse-api
    volumes:
      - ${HOST_DATA_PATH}:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      PYTHONUNBUFFERED: 1
      ENV: production
      JWT_SECRET: ${JWT_SECRET}
      PROXY_SECRET: ${PROXY_SECRET}
      HOST_DATA_PATH: ${HOST_DATA_PATH}
    ports:
      - "8000:8000"
    networks:
      - miniverse-net
      - redis-net
    depends_on:
      - redis
    restart: unless-stopped
    stop_grace_period: 2m
    develop:
      watch:
        - action: sync+restart
          path: ./app
          target: /app/app
        - action: rebuild
          path: poetry.lock

  redis:
    image: redis:8-alpine
    container_name: miniverse-redis
    command: ["redis-server", "--loglevel", "warning"]
    volumes:
      - redis-data:/data
    networks:
      - redis-net
    restart: unless-stopped

  mysql-keycloak:
    container_name: mysql-keycloak
    image: mysql:9.5.0
    environment:
      MYSQL_ROOT_PASSWORD: ${KC_MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: keycloak
      MYSQL_USER: keycloak-db-user
      MYSQL_PASSWORD: ${KC_DB_PASSWORD}
    volumes:
      - mysql-keycloak-data:/var/lib/mysql
    networks:
      - mysql-keycloak-net
    restart: unless-stopped

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:26.5.0
    command:
      start
      --import-realm
    ports:
      - "127.0.0.1:8080:8080"
    environment:
      KC_HTTP_ENABLED: true
      KC_HOSTNAME: ${KC_HOSTNAME}
      KC_DB: mysql
      KC_DB_URL: jdbc:mysql://mysql-keycloak/keycloak
      KC_DB_USERNAME: keycloak-db-user
      KC_DB_PASSWORD: ${KC_DB_PASSWORD}
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KC_BOOTSTRAP_ADMIN_USERNAME}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KC_BOOTSTRAP_ADMIN_PASSWORD}
    volumes:
      - ./keycloak/import/:/opt/keycloak/data/import/
    networks:
      - mysql-keycloak-net
    depends_on:
      - mysql-keycloak
    restart: unless-stopped

networks:
  miniverse-net:
    name: miniverse-net
  redis-net:
  mysql-keycloak-net:

volumes:
  redis-data:
  mysql-keycloak-data:
