services:
  miniverse-api-proxy:
    image: serjs/go-socks5-proxy
    container_name: miniverse-api-proxy
    ports:
      - "127.0.0.1:1080:1080"
    environment:
      REQUIRE_AUTH: "false"
    networks:
      - miniverse-net
      - backend-net
    depends_on:
      - redis
      - keycloak
    restart: unless-stopped
    stop_grace_period: 2m

  redis:
    image: redis:8-alpine
    container_name: miniverse-redis
    command: [ "redis-server", "--loglevel", "warning" ]
    ports:
      - "127.0.0.1:6379:6379" # Removed in prod
    volumes:
      - redis-data:/data
    networks:
      - backend-net
    restart: unless-stopped

  mysql-keycloak:
    container_name: mysql-keycloak
    image: mysql:9.5.0
    ports:
      - "127.0.0.1:3306:3306" # Removed in prod
    environment:
      MYSQL_ROOT_PASSWORD: ${KC_MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: keycloak
      MYSQL_USER: keycloak-db-user
      MYSQL_PASSWORD: ${KC_DB_PASSWORD}
    volumes:
      - mysql-keycloak-data:/var/lib/mysql
    networks:
      - backend-net
    restart: unless-stopped

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:26.5.0
    command:
      start
      --import-realm
    ports:
      - "127.0.0.1:8080:8080"
    environment:
      KC_HTTP_ENABLED: true
      KC_HOSTNAME: ${KC_HOSTNAME}
      KC_DB: mysql
      KC_DB_URL: jdbc:mysql://mysql-keycloak/keycloak
      KC_DB_USERNAME: keycloak-db-user
      KC_DB_PASSWORD: ${KC_DB_PASSWORD}
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KC_BOOTSTRAP_ADMIN_USERNAME}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KC_BOOTSTRAP_ADMIN_PASSWORD}
    volumes:
      - ./keycloak/import/:/opt/keycloak/data/import/
    networks:
      - backend-net
    depends_on:
      - mysql-keycloak
    restart: unless-stopped

networks:
  miniverse-net:
    name: miniverse-net
  backend-net:

volumes:
  redis-data:
  mysql-keycloak-data:
