services:
  miniverse-api:
    build: .
    container_name: miniverse-api
    volumes:
      - ${HOST_DATA_PATH}:/app/data
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      PYTHONUNBUFFERED: 1
      ENV: production
      SQLALCHEMY_DATABASE_PASSWORD: ${MINIVERSE_DB_PASS}
      PROXY_SECRET: ${PROXY_SECRET}
      HOST_DATA_PATH: ${HOST_DATA_PATH}
    networks:
      - miniverse-net
      - backend-net
    depends_on:
      - mysql
      - redis
      - keycloak
    restart: unless-stopped
    stop_grace_period: 2m
    develop:
      watch:
        - action: sync+restart
          path: ./app
          target: /app/app
        - action: rebuild
          path: poetry.lock

  redis:
    image: redis:8-alpine
    container_name: miniverse-redis
    command: [ "redis-server", "--loglevel", "warning" ]
    volumes:
      - redis-data:/data
    networks:
      - backend-net
    restart: unless-stopped

  mysql:
    container_name: mysql
    build: mysql/
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MINIVERSE_DB_PASS: ${MINIVERSE_DB_PASS}
      KEYCLOAK_DB_PASS: ${KEYCLOAK_DB_PASS}
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - backend-net
    restart: unless-stopped

  keycloak:
    container_name: keycloak
    build: keycloak/
    command:
      start
      --optimized
      --import-realm
    environment:
      KC_DB_PASSWORD: ${KEYCLOAK_DB_PASS}
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KC_BOOTSTRAP_ADMIN_USERNAME}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KC_BOOTSTRAP_ADMIN_PASSWORD}
    networks:
      - backend-net
    depends_on:
      - mysql
    restart: unless-stopped

  nginx:
    container_name: nginx
    build: nginx/
    ports:
      - "80:80"
    networks:
      backend-net:
    depends_on:
      - miniverse-api
      - keycloak
    develop:
      watch:
        - action: sync+restart
          path: nginx/conf/
          target: /etc/nginx/
    restart: unless-stopped

networks:
  miniverse-net:
    name: miniverse-net
  backend-net:

volumes:
  redis-data:
  mysql-data:
